<information name='Information'>
    <sourse 
        name='MS_SQL' 
        type='SQL Server'
        cred='DRIVER={PostgreSQL Unicode};Server=192.168.100.232;port=5432;UID=for_py1;PWD=for_py1;'
        target='DRIVER={PostgreSQL Unicode};Server=localhost;port=5433;UID=for_py1;PWD=for_py1;'
        db_target_default='postgres'
        >
        <DB name='db_demo_sdbo' name_ch='db_demo_sdbo_new'>
            <schema name='dbo' name_ch='dbo_new'> 
                <table name='CSV_SYSTEM'  name_ch='CSV_SYSTEM_new'></table> 
                <table name='CSV_CAL'     name_ch='CSV_CAL_new'></table>
            </schema>
        </DB>
    </sourse>
</information>
