<information name='Information'>
    <sourse 
        name='MS_SQL' 
        type='SQL Server'
        cred='DRIVER={PostgreSQL Unicode};Server=192.168.100.232;port=5432;UID=for_py1;PWD=for_py1;'
        target='DRIVER={PostgreSQL Unicode};Server=localhost;port=5433;UID=for_py1;PWD=for_py1;'
        db_target_default='postgres'
        >
        <DB name='db_demo_sdbo'>
            <schema name='dbo'> 
                <table name='CSV_SYSTEM'></table> 
                <table name='CSV_CAL'></table>
            </schema>
        </DB>
    </sourse>
</information>
