<information name='Information'>
    <sourse 
        name='local_PG_SQL' 
        type='SQL Server'
        cred='Driver={SQL Server};Server=DESKTOP-NOR5JCO\SQLSERVER2019;UID=for_py1;PWD=for_py1;'
        target='DRIVER={PostgreSQL Unicode};Server=192.168.100.232;port=5432;UID=for_py1;PWD=for_py1;'
        db_target_default='postgres'
        >
        <db name='db_demo_sdbo'>
            <schema name='dbo'> 
                <table name='CSV_SYSTEM'></table> 
                <table name='CSV_CAL'></table>
                <table name='CSV_CLIENT'></table>   
                <table name='CSV_COMMENT'></table>  
                <table name='CSV_SERVICE'></table>
                <table name='CSV_TIME_MAP'></table> 
                <table name='CSV_USER'></table>
            </schema>
            <schema name='notdbo'> 
                <table name='CSV_SYSTEM3'></table> 
                <table name='CSV_SESSION'></table>
            </schema>
        </db>
        <db name='db_for_migr_test'>
            <schema name='dbo'> 
                <table name='CSV_SYSTEM3'></table> 
                <table name='CSV_SESSION'></table>
            </schema>
        </db>
    </sourse>
</information>
